*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}
image{
    display: block;
    margin: 0;
    padding: 0;
}
svg{
    display: inline-block;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.btn{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #121127;
    padding: 8px 24px;
    border: 1px solid #EEE3E5;
    border-radius: 6px;
    transition: 0.2s linear;
}
.btn:hover{
    background-color: #444BD3;
    color: #fff;
}
body {
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: 121127;
}

.container {
    max-width: 1128px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    margin-bottom: 90px;
}
.header-wrap {
    padding: 34px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #525161;
}
.navbar{
    display: flex;
    align-items: center;
}
.header__logo img{
    display: inline-block;
}
.nav__menu-link{
    margin-left: 48px;
}
.header__btn{
    padding: 8px 24px;
    border: 1px solid #EEE3E5;
    margin-right: 8px;
}
.header__btn:first-child{
    border: none;
}
.header__btn:last-child{
    margin-left: 0;
}
.btn-active{
    background-color: #444BD3;
    color: #fff;
}
.main{
    padding-bottom: 163px;
}
.main-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__title{
    max-width: 936px;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    margin-bottom: 20px;
}
.main__subtitle{
    font-size: 20px;
    line-height: 180%;
    margin-bottom: 72px;
}
.features{
    padding: 24px 0 96px 0;
}
.pretitle{
    font-size: 14px;
    color: #444BD3;
    line-height: 170%; /* 23.8px */
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}
.title__h2{
    max-width: 640px;
    font-size: 40px;
    line-height: 140%; /* 56px */
    font-weight: 700;
    margin-bottom: 40px;
}
.features__pretitle{
    font-size: 14px;
    color: #444BD3;
    line-height: 170%; /* 23.8px */
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}
.features__title{
    max-width: 640px;
    font-size: 40px;
    line-height: 140%; /* 56px */
    font-weight: 700;
    margin-bottom: 40px;
}
.features__box{
    display: flex;
    align-items: center;
}
.features__box-items{
    display: flex;
    padding: 56px 24px;
    width: 264px;
    margin-right: 24px;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
    border-radius: 12px;
    background: #FFF;
    /* Drop Shadow/High */
    box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.08);
}
.features__box-items:last-child{
    margin-right:0;
}
.about{
    padding: 96px 0;
    background: #F9F9FB;
}
.about__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__wrap-box{
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}
.about__box-title{
    color: #444BD3;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%; /* 28px */
}
.about__box-subtitle{
    min-width: 456px;
    color: rgba(18, 17, 39, 0.56);
    font-size: 16px;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
}
.about__box-graph{
    width: 456px;
    height: 298px;
    flex-shrink: 0;
    fill: #FFF;
    filter: drop-shadow(0px 7px 30px rgba(18, 17, 39, 0.12));
}
.about__box-add-graph::before{
    content: '';
    background: url("img/add-graph.png");
    position: absolute;
    top: 0; left: 0;
}
.about__box-items{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 180%; /* 25.2px */
    margin-bottom: 8px;
}
.about__box-list:last-child{
    margin-bottom: 0px;
}
.about__box-items svg{
    margin-right: 12px;
}
.pricing{
    padding: 61px 0;
}
.pricing-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pricing-title{
    align-self: stretch;
    font-size: 32px;
    font-weight: 700;
    line-height: 140%; /* 44.8px */
}
.pricing-title span{
    color: #444BD3;
}
.pricing-subtitle{
    align-self: stretch;
    color:  rgba(18, 17, 39, 0.56);
    font-size: 18px;
    font-weight: 400;
    line-height: 180%; /* 32.4px */
}
.pricing__btn{
    padding: 14px 32px;
    color: #fff;
    background-color: #444BD3;
    border-radius: 8px;
}
.cta{
    padding: 96px 0;
    background: #444BD3;
}
.cta-wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.cta-title{
    color: #fff;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    line-height: 140%; /* 61.6px */
}
.cta-subtitle{
    color: rgba(255, 255, 255, 0.56);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 180%; /* 36px */
    font-style: normal;
}
.cta__btn{
    padding: 14px 32px;
    background-color: #fff;
    color: #444BD3;
    border-radius: 8px;
}